# fly.toml app configuration file generated for thedojo on 2024-05-17T06:49:22+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'thedojo'
primary_region = 'sin'
kill_signal = 'SIGTERM'

[build]

#[deploy]
#  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'thedojo.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 888

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 768
