@import "tailwindcss";
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

/* This file is for your main application CSS */


@font-face {
    font-family: "paperLang";
    src: url('/fonts/paperLang.woff2') format('woff2'),
         url('/fonts/paperLang.woff') format('woff'),
         url("/fonts/paperLang.ttf") format("truetype"),
  }



/* add the code bellow */
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .scrollbar-hide::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      /* WebKit-based browsers (Chrome, Safari, Edge) */
      .dark-scrollbar::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
        width: 0;
        height: 0;
      }
      .dark-scrollbar::-webkit-scrollbar-thumb {
        background-color: #555; /* Color of the scrollbar thumb */
        border-radius: 2px; /* Rounded corners */
        border: 1px solid transparent; /* Optional: space between thumb and track */
      }
      .dark-scrollbar::-webkit-scrollbar-track {
        background-color: #222; /* Color of the scrollbar track */
      }

      /* Firefox */
      .dark-scrollbar {
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-color: rgba(255,153,51,0.05) transparent; /* Thumb color and track color */
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-width-legacy: 5px;
      }

      .dark-scrollbar:hover {
    --fix: ; /* This custom property invalidates styles on hover, thereby enforcing a style recomputation. This is needed to work around a bug in Safari. */
      }

      .flash-highlight {
        animation: flash-animation 1.5s;
      }

      @keyframes flash-animation {
        0%, 100% {
          background-color: transparent;
        }
        10%, 80% {
          background-color: rgba(254, 243, 180, 1); /* same highlight as our selected abbott */
        }
      }

}
