<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="description" content="Wrestle with math together" />
    <meta property="og:image" content="/images/mathland.jpg" />
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="PaperLand" />
    <meta name="theme-color" content="#ff9933" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <.live_title suffix=" · Dojo">
      {assigns[:page_title] || "PaperLand"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script
      defer
      fetchpriority="high"
      phx-track-static
      type="text/javascript"
      src={~p"/assets/js/app.js"}
    >
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "dark");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("phx:set-theme", ({ detail: { theme } }) => setTheme(theme));
      })();
    </script>
    <script
      defer
      data-domain="dojo.paperland.sg"
      src="https://odin.fly.dev/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"
    >
    </script>
  </head>
  <body class="">
    {@inner_content}
  </body>
</html>
