<main class="bg-black">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>

<script src="codemirror/codemirror.js" />

<link rel="stylesheet" href="codemirror/codemirror.css" />
<link rel="stylesheet" href="codemirror/theme/abbott.css" />
<link rel="stylesheet" href="codemirror/theme/everforest.css" />
<script src="codemirror/mode/apl/apl.js" />
